/* 
Title:      Master styles for screen media
Author:     jason@sharpturnweb.com
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 62.5%;
    background: #FFF;
    text-align: center
}
    
/* links */

a:link, a:visited {
    text-decoration: underline;
    color: #3AA1F9;
}

a:active {
    outline: none
}

a:hover {
    color: #067BDB
}

/* main styles 
--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em
}

p {
    line-height: 1.4em;
    margin-bottom: 18px
}

ul, ol {
    line-height: 1.5em;
    margin-bottom: 18px
}

/* headings */
    
/* use the best possible ampersand */

span.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.2em;
    color: #766557;
}
  

/* page structure 
--------------------------------------------- */

.ws {
    width: 970px;
    margin: 0 auto;
    text-align: left;
    font-size: 12px
}

#main {
    float: left;
	width: 637px
}

#home #main,
#gallery #main {
    width: 667px
}

#trunk,
#trunk .ws {
    position: relative
}

#sidebar {
    right: 0;
    width: 323px;
    z-index: 5;
	position: absolute
}

#home #sidebar {
    top: -255px
}

#main {
    min-height: 520px
}

.sub #sidebar {
    top: 13px
}

.sub #main {
    min-height: 770px
}

.footer {
    clear: both
}

/* header 
--------------------------------------------- */

#header {
    background: #121A2D url(../images/bg/header.jpg) repeat-x;
    height: 97px;
    border-bottom: solid 7px #FFF;
    z-index: 4
}

#header .ws {
    position: relative;
    height: 97px
}

#header h1,
#header h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
	font-weight: 100
}

#header h1 a,
#header h2 a {
    color: #FFF;
    text-decoration: none;
    position: relative;
    left: 40px;
    top: 20px
}

#header h1 strong,
#header h2 strong {
    font-weight: bold
}

#header ul {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    bottom: 0
}

#header ul li {
    float: left
}

#header ul li a {
    float: left;
    display: block;
    padding: 0 14px 5px 14px;
    margin: 0 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-bottom: solid 6px #051936
}

#header ul li a:hover,
#header ul li a.visiting {
    color: #ECA928;
    text-decoration: none;
    border-bottom: solid 6px #FFF
}

/* intro 
--------------------------------------------- */

#intro {
    background: #E0E0E0 url(../images/bg/info.jpg) repeat-x;
    height: 267px;
    z-index: 2;
    position: relative
}

#intro .inner {
    width: 580px;
    padding: 25px 40px
}

#intro .inner p strong {
    display: block
}

#intro .inner h2 {
    color: #878787;
    font-weight: 100;
    font-size: 35px
}

/* trunk 
--------------------------------------------- */

#home #trunk {
    background: #FFF url(../images/bg/trunk.jpg) repeat-x;
    border-top: solid 1px #FFF
}

body.sub #trunk {
    background: #FFF url(../images/bg/trunk-sub.jpg) repeat-x
}

#trunk h1 {
    height: 88px;
    color: #818181;
    line-height: 88px;
    font-size: 40px;
    font-weight: 100;
	padding-left: 40px
}

#trunk h2 {
    height: 68px;
    z-index: 1;
    background: url(../images/bg/home/trunk-heading.jpg) no-repeat left top;
    color: #FFF;
    line-height: 68px;
    padding-left: 40px;
    font-size: 25px
}

#trunk ul {
    padding-left: 20px;
    margin-left: 10px
}

#trunk ul li {
    list-style-type: square;
    color: #8D9196 
}

/* main 
--------------------------------------------- */

#main {
    background: url(../images/bg/main.jpg) no-repeat left top
}

#main .article {
    padding: 25px 25px 0 40px
}

#main .painting,
#main .step,
#contact-me #main .article p.contact-intro  {
    background: url(../images/bg/divider.jpg) no-repeat bottom left;
    padding-bottom: 20px;
    margin-bottom: 40px
}

#main .painting .meta {
    float: right;
    width: 290px
}

#main .painting .meta h3 {
    padding-bottom: 8px;
    margin-bottom: 8px;
    width: 200px;
    overflow: visible;
    border-bottom: dashed 1px #000
}

#main .painting .meta .price {
    margin-bottom: 15px
}

#main .painting .meta .price span {
    display: block
}

#main .painting .meta .description {
    line-height: 1.45em;
    width: 270px
}

#main .painting .meta .description em {
    display: block
}

#main .painting .meta .links {
    color: #8D9196
}

#main .painting .preview {
    float: left;
}

#main .painting .preview img {
    border: solid 1px #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#main div.main-nav ul {
    width: 250px
}

#main div.main-nav ul {
    float: left
}


#main .step-number {
    float: left;
    width: 165px;
    height: 71px
} 

#main .step-number p {
    text-indent: -999em;
    width: 145px;
    height: 71px
} 

#main .step-number-1 .step-number {
    background: #FFF url(../images/bg/steps.jpg) no-repeat 0 0
}

#main .step-number-1 .instruction {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: dashed 1px #000;
    width: 240px
}

#main .step-number-2 .step-number {
    background: #FFF url(../images/bg/steps.jpg) no-repeat 0 -71px
}

#main .step-number-3 .step-number {
    background: #FFF url(../images/bg/steps.jpg) no-repeat 0 -142px
}

#main .step-instructions {
    float: right;
    width: 400px
} 

#main .purchase-form a {
    width: 267px;
    height: 49px;
    display: block;
    text-indent: -999em;
    background: #FFF url(../images/buttons/purchase.jpg) no-repeat 0 0
}

#main .purchase-form a:hover {
    background: #FFF url(../images/buttons/purchase.jpg) no-repeat -267px 0
}

#main form div.inputs {
    float: left;
    width: 250px
}

#main form div.input {
    margin-bottom: 20px
}

#main form div.input label {
    float: left;
    width: 60px
}

#main form div.address {
    display: none
}

#main form div.input input {
    width: 180px;
    background: #EFEFEF;
    border-top: solid 1px #C4C4C4;
    border-left: solid 1px #C4C4C4;
    float: right;
    font-size: 20px;
    padding: 5px 0
}

#main form div.textarea {
    float: right;
    width: 290px
}

#main form div.textarea label {
    float: none;
    display: block;
    margin-bottom: 10px
}

#main form div.textarea textarea {
    width: 95%;
    height: 165px;
	padding: 6px;
    background: #EFEFEF;
    border-top: solid 1px #C4C4C4;
    border-left: solid 1px #C4C4C4;
}

#main form ul.errorlist {
    margin-left: 0;
	padding-left: 0
}

#main form ul.errorlist li {
    list-style: none
}

#main div.submit {
    padding-left: 67px
}

#main div.submit {
    clear: both;
    margin-bottom: 25px
}

#main div.submit p {
    margin-bottom: 0
}

#main div.submit input {
    width: 152px;
    height: 36px
}

/* vcard 
--------------------------------------------- */

#main .vcard {
    font-weight: bold;
    margin-bottom: 20px
}

#main .vcard a {
    display: block;
    text-decoration: none;
    color: #000
}

#contact-me #main .vcard {
    padding-left: 67px
}

#contact-me #main .vcard div.adr,
#contact-me #main .vcard div.tel {
    font-weight: 100
}

#contact-me #main .vcard a {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: dashed 1px #000;
    width: 180px
}

#contact-me .vcard .divider,
#contact-me .vcard a.email,
#how-to-purchase .vcard .divider,
#how-to-purchase .vcard .tel,
#how-to-purchase .vcard a.email {
	display: none
}

.footer .vcard {
    padding: 0 40px
}

.footer .vcard a.url, 
.footer .vcard a.url:hover {
    text-decoration: none;
    color: #0F2D49
}

.footer .vcard span.org {
    font-weight: bold
}

.footer .vcard div {
    display: inline
}

/* sidebar 
--------------------------------------------- */

#sidebar .section {
    border: solid 7px #FFF;
    background: #FFF url(../images/bg/lee.jpg) no-repeat;
    padding: 270px 15px 0 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#sidebar h4 {
    color: #D79618;
    font-size: 21px;
    margin-bottom: 5px
}

#sidebar .facebook {
    margin-top: 16px
}

#sidebar .facebook a {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url(../images/facebook.jpg) no-repeat center center;
    width: 323px;
    height: 49px;
    display: block;
    text-indent: -999em
}

/* footer 
--------------------------------------------- */

.footer {
    background: #CCC url(../images/bg/footer.jpg);
    border-top: solid 1px #D9DBDD;
    text-align: left;
    color: #0F2D49;
    padding: 20px 0
}

.footer p {
    padding: 0 40px
}

.footer p {
    margin: 0
}

/* misc. 
--------------------------------------------- */

.required {
    color: #DEA029
}

hr, .hide {
    display: none;
}

a img {
    border: none;
}

span.country-name {
    display: none
}

.error, .success, #trunk .errorlist li {
    padding: 5px 8px;
    margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 93%
}

.error, #trunk .errorlist li {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

.pagination {
	text-align: center;
	margin-bottom: 25px
}

/* self-clear floats */

.group:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}